/* general rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#logo{
   height: 100px;
   width: auto;
   line-height: 100%;
   vertical-align: middle;
}

header{
    padding: 10px 0px;
    background-color: white;
}

#toboolist{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 700;
}

body{
    background-color: #f6f8f9;
    
}

#container{
    width: 60%;
    margin:25px auto;
    background-color: white;
}

#button-1{
 width: 75px;
 margin-left:50px;
 background-color: #45abea;
 color: white;
}

#button-2{
    width: 85px;
    margin: 8px 0px;
    color: rgb(165, 165, 165);
}

.bordo{
    border-bottom: solid 2px;
    border-color:lightgray;
}

.sezioni{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: 50px;
    padding:12px

}
.editorial{
    border-radius: 23px;
    width: 70px;
    padding: 3px;
    color: white;
    background-color: #45abea;
}

.q1-goals{
    border-radius: 23px;
    width: 70px;
    padding: 3px;
    color: white;
    background-color: #9c72e4;
}
.Recruiting{
    border-radius: 23px;
    width: 70px;
    padding: 3px;
    color: white;
    background-color: #64c0a9;
}

.mobile{
    border-radius: 23px;
    width: 70px;
    padding: 3px;
    color: white;
    background-color: #f29e33;
}
.website{
    border-radius: 23px;
    width: 70px;
    padding: 3px;
    color: white;
    background-color: #d863a1;
}
.sales{
    border-radius: 23px;
    width: 70px;
    padding: 3px;
    color: white;
    background-color: #b0c926;
}
span{
    line-height: 50px;
}